body {
    background-image: url("../images/background.jpg ");
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: black;
    color: darkturquoise;
    font-family: 'Marck Script', cursive;
    font-size: 40px;
}


.crystal-image {
    width: 300px;
    height: 300px;
}

